.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-color: black;
  border-radius: 20px;
  height: 100vh;
  background-color: rgb(10, 208, 208);
  
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.title{
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style:inherit;
  color: coral;
  
}
.fields{
  display: flex;
  flex-direction: column;
}
.fields div {
  margin-bottom: 10px; 
}

#genderlabel{
  color: coral;
  margin-bottom: 10px; 

}
.loginbutton{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
  margin-right: 50px;
}








